.quasar-tabs-scroller, .quasar-tab {
  flex: 1;
}
.layout-padding {
  margin-left: auto;
  margin-right: auto;
}

/*****************
 * Profile cover *
 *****************/

.profile {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  margin:   0 auto 50px;
  height:   300px;
  position: relative;
  width:    975px;
  max-width: 100%;
}

figure.profile-banner {
  left:     0;
  overflow: hidden;
  position: absolute;
  top:      0;
  right:    0;
  bottom:   0;
  z-index:  1;
  margin:   0;
}

figure.profile-picture {
  background-position: center center;
  background-size: cover;
  border: 5px #efefef solid;
  border-radius: 50%;
  bottom: -50px;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,0.3);
  height: 148px;
  left: 150px;
  position: absolute;
  width: 148px;
  z-index: 3;
}

div.profile-description {
  bottom: 0;
  border-top: 1px solid rgba(0,0,0,0.5);
  left: 0;
  padding: 15px 15px 15px 350px;
  position: absolute;
  right: 0;
  z-index: 2;

  background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.51) 3%, rgba(0,0,0,0.75) 61%, rgba(0,0,0,0.5) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(3%,rgba(0,0,0,0.51)), color-stop(61%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.5)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80000000',GradientType=0 );
}

div.profile-name {
  color: white;
  font-size: 30px;
}

div.profile-role {
  color: #BBB;
}

/******************
 * Second toolbar *
 ******************/

.has-top-toolbar {
  padding-top: 56px;
}
.top-toolbar {
  top: 0;
  border-bottom: 1px solid #e0e0e0;
}

.has-bottom-toolbar {
  padding-bottom: 80px;
}
.bottom-toolbar {
  bottom: 0;
  border-top: 1px solid #e0e0e0;
}

.top-toolbar, .bottom-toolbar {
  position: absolute !important;
  left: 280px;
  right: 0;
  z-index: 9;
  width: auto !important;
  border-bottom: 1px solid #e0e0e0;
}

@media screen and (max-width: 600px) {
  .top-toolbar, .bottom-toolbar {
    left: 0;
  }
}
